#container {
    margin: 20px;
}

/* Before content */
#container::before {
    content: "Before ";
    color: #f00;
    font-size: 20px;
}

/* After content */
#container::after {
    content: " After";
    color: #f00;
    font-size: 20px;
}