#container {
    margin: 20px;
}

/* BEFORE */
#container::before {
    content: "Before Element";
    color: #f00;
    font-size: 20px;
}

/* AFTER */
#container::after {
    content: "After Element";
    color: #f00;
    font-size: 20px;
}